{% extends 'base.html' %}
{% load static %} 
{% block content %}
{% load socialaccount %}

<section class="walker-profile-section">
<div class="bg-shape"></div>
<div class="container">
    <!-- ---------PERSONAL INFORMATION--------------------->
    <h2 class="personal-heading">Personal Information</h2>
    <form class="details-box center" method="post">
      {% csrf_token %}
      <label class="profile-label">Phone number</label>
      {{ profile_form.phone_number }}
      {% if profile_form_errors and 'phone_number' in profile_form_errors %}
        <div class="error-profile">
          <strong>{{profile_form_errors.phone_number.0}}</strong>
        </div>
      {% endif %}
      <label class="profile-label">Email</label>
      {{ profile_form.email }}
        {% if profile_form_errors and 'email' in profile_form_errors %}
        <div class="error-profile">
          <strong>{{profile_form_errors.email.0}}</strong>
        </div>
      {% endif %}
      <label class="profile-label">First Name</label>
      {{ profile_form.first_name }}
      {% if profile_form_errors and 'first_name' in profile_form_errors %}
        <div class="error-profile">
          <strong>{{profile_form_errors.first_name.0}}</strong>
        </div>
      {% endif %}
      <label class="profile-label">Last Name</label>
      {{ profile_form.last_name }}
      {% if profile_form_errors and 'last_name' in profile_form_errors %}
        <div class="error-profile">
          <strong>{{profile_form_errors.last_name.0}}</strong>
        </div>
      {% endif %}
      <input type="hidden" name="form_type" value="profile_form" /> 
      <input class="button button-bright update-profil" type="submit" value="Update" />
    </form>

</section>
{% endblock %}

{% block extra_js %}
{{ block.super }}
<script src="{% static 'customer/js/customer.js' %}"></script>
{% endblock %}