{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/css/style.css' %}">
{% endblock %}
{% block content %}

  <!-------------------------- HERO SECTION ----------------------------->
<main id="home-section" class="section">
  <div class="hero-bg"></div>
  <div class="container">
      <div class="home-txt center">
        <h1>handmade with love</h1>
        <p>Add modern British ceramics to your home, 
          all individually handmade with love.</p>
          <a href="#">about us</a>
      </div>
      <div class="hero-image">
        <img
          src="{% static 'images/hero.jpg' %}"
          class="hero-img"
          alt="cups"
        />
      </div>
      <div class="home-images center">
        <div class="home-img home-img-one center">
          <img src="{% static 'images/home-img-one.jpg' %}" alt="">
        </div>
        <div class="home-img home-img-two center">
          <img src="{% static 'images/home-img-two.jpg' %}" alt="">
        </div>
        <div class="home-img home-img-three center">
          <img src="{% static 'images/home-img-three.jpg' %}" alt="">
        </div>
      </div>
  </div>
  </main>

{% endblock %}

{% block extra_js %}
  {{ block.super }}
  <script src="{% static 'home/js/index.js' %}"></script>
{% endblock %}