:root {
    --col_one: #D18E85;
    --col_two: #C8CAC9;
    --col_three: #000000;
    --col_four: #ffffff;
    --col_five: #F2DFE1;
    --col_six: #C1B198;
    --col_seven: #F8B195;
    --col_eight: #C06C84;
    --col_nine: #F2CFBB;
    --font_one: 'Mali', cursive;
    --font_two: 'Hubballi', cursive;

}


.link {
    color: #000000;
    font-size: 22px;
    position: relative;
    margin-top: 20px;
    border-bottom: 1px solid black;
    transition-duration: 0.3s;
    text-transform: uppercase;
}

.link:hover {
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
}

.container {
    max-width: 1200px;
    height: 100%;
    display: flex;
    position: relative;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

/* -----------HOME PAGE----------- */
#home-section {
    min-height: 100vh;
    height: 100vh;
    position: relative;
    background-color: var(--col_four);
}

.product-link {
    position: absolute;
    top: 20px;
    color: var(--col_four);
    border-bottom: 1px solid var(--col_four);
    background-color: rgb(0 0 0 / 21%);
    width: 120px;
    transition-duration: .3s;
}

.product-link:hover {
    transform: scale(1.1);
    color: var(--col_nine);
    border-bottom: 1px solid var(--col_nine);

}

.home-txt {
    width: 50%;
    padding: 64px;
    margin: auto;
}

.home-txt h1 {
    font-weight: 300;
    font-family: 'Homemade Apple', cursive
}

.home-txt p {
    font-size: 23px;
    line-height: 30px;
    text-align: center;
}


.hero-image {
    right: 0;
    position: relative;
}

.hero-image img {
    height: 600px;
}

.hero-bg {
    height: 600px;
    width: 100%;
    background: linear-gradient(180deg, #e6e9f0 0%, #e1c4b6 100%);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.home-images {
    width: 100%;
    height: 240px;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    left: 50%;
    top: 83%;
    transform: translate(-50%, -50%);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

.home-img {
    height: 100%;
    width: 100%;
}

.home-img img {
    width: 80%;
    height: 80%;
    object-fit: cover;
}

.home-img-one {
    background-color: var(--col_six);
}

.home-img-two {
    background-color: var(--col_two);
}

.home-img-three {
    background-color: var(--col_six);
}

/* -----------BEST SELLERS SECTION----------- */
.b-sellers-section {
    position: relative;
    height: -o-calc(100vh + 174px); /* opera */
    height: -webkit-calc(100vh + 174px); /* google, safari */
    height: -moz-calc(100vh + 174px)
}

.b-sellers-section h1 {
    text-align: center;
    text-transform: lowercase;
    position: absolute;
    left: 50%;
    top: 23%;
    transform: translate(-50%, -50%);
}

.cards-container {
    flex-grow: 1;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    min-height: 100vh;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 32px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.cards__item {
    height: 400px;
}

.card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    width: 50%;
    height: 100%;
    pointer-events: none;
}


.card__frame {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.card__picture {
    margin-bottom: 12px;
    height: 60%;
    width: 100%;
}

.card__picture img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.card__title {
    margin: 0 auto;
    font-weight: 700;
    letter-spacing: 0.08em;
    text-transform: uppercase;
}

.card__overlay {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    cursor: pointer;
}

.card__overlay::before {
    content: "More";
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.card__overlay:hover,
.card__overlay:focus {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    box-shadow: none;
    border-radius: 0;
    opacity: 1;
}

.card__overlay:hover::before,
.card__overlay:focus::before {
    content: none;
}

.card__content {
    z-index: 1;
    padding: 20px;
    line-height: 1.4;
    opacity: 0;
    visibility: hidden;
    box-sizing: border-box;
    pointer-events: none;
    transition: 0s;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
    height: 100%;
}

.card__overlay:hover~.card__content {
    opacity: 1;
    visibility: visible;
    transition: 0.2s 0.3s;
}


.item_rate {
    display: flex;
    margin-top: 10px;
}

.card__frame h3 {
    margin-top: 10px;
}

.add-btn {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    cursor: pointer;
}

.add-btn img {
    height: 100%;
    width: 100%;
}


.more-btn {
    width: 100px;
    height: 50px;
    position: relative;
    margin: 30px auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    transition: 0.5s;
    cursor: pointer;
}

.add-btn:hover {
    transform: scale(1.1);
}

.category {
    display: flex;
    align-items: center;
}

.category img {
    height: 15px;
    width: 15px;
}

/* -----------NEW COLLECTION SECTION----------- */
.new-collection {
    height: 100vh;
    position: relative;
}

.text-box {
    width: 500px;
    margin-left: 40px;
}

.text-box p {
    font-size: 23px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.bg-box {
    position: absolute;
    height: 600px;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--col_nine);
}

.image-box {
    height: 70vh;
    width: 500px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
        rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    margin-left: 120px;
}

.image-box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


/* ----------- WHY US, OUR VALUES SECTION----------- */
.info {
    position: relative;
    height: -o-calc(100vh + 174px); /* opera */
    height: -webkit-calc(100vh + 174px); /* google, safari */
    height: -moz-calc(100vh + 174px)
}

.parts-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 1200px;
    margin-top: -155px;
}

.parts-wrapper h2 {
    margin-bottom: 80px;
    margin-top: 80px;
}

.parts-container,
.parts-container-two {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1200px;
    height: 50%;
    gap: 20px;
}

.part {
    height: 100%;
    width: 250px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.part p {
    font-size: 20px;
    text-align: center;
}

.part img,
.part h4 {
    margin-top: 20px;
    margin-bottom: 20px;
}


/* ----------- NEW ARRIVALS SECTION----------- */

.new-arrivals {
    position: relative;
    height: -o-calc(100vh + 174px); /* opera */
    height: -webkit-calc(100vh + 174px); /* google, safari */
    height: -moz-calc(100vh + 174px)
}

.new-arrivals h2 {
    position: absolute;
    left: 50%;
    top: 23%;
    transform: translate(-50%, -50%);
}

.carousel-container {
    width: 600px;
    height: 25rem;
    padding: 0;
    position: relative;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.carousel-container .item {
    width: 100%;
    height: 100%;
    position: relative;
    display: none;
    animation: fade 0.3s ease-in-out;
}

.carousel-container .item .numbertext {
    padding: 0.5rem 0.75rem;
    position: absolute;
    font-family: var(--font_two);
    top: 1rem;
    right: 1rem;
    border-radius: 0.9375rem;
    font-size: 0.875rem;
    color: #f2f2f2;
    background-color: rgba(0, 0, 0, 0.9);
}

.carousel-container .item .image {
    width: 100%;
    height: 100%;
    display: flex;
}

.carousel-container .item .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-container .item .text {
    width: 100%;
    padding: 5px 5px;
    position: absolute;
    bottom: 0;
    font-size: 0.9rem;
    color: #f2f2f2;
    background-color: rgba(0, 0, 0, 0.5);
    height: 65px;
}

.carousel-container .item .text .title {
    font-size: 1.2rem;
    font-weight: normal;
    margin-left: 20px;
    margin-bottom: 5px;
}

.carousel-container .prev,
.carousel-container .next {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: calc(50% - 1rem);
    user-select: none;
    font-size: 18px;
    color: var(--col_eight);
    border-radius: 50%;
    transition: 0.6s ease;
    cursor: pointer;
    background-color: var(--col_four);

}

.carousel-container .prev {
    left: 0.8rem;
}

.carousel-container .next {
    right: 0.8rem;
}

.carousel-container .dots {
    padding: 0.9375rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-container .dots .dot {
    width: 0.625rem;
    height: 0.625rem;
    margin: 0 0.125rem;
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
    background-color: #bbb;
    transition: background-color 0.6s ease;
}

.carousel-container .dots .dot:focus,
main section .carousel-container .dots .dot:hover {
    background-color: #717171;
}

@keyframes fade {
    from {
        opacity: 0.8;
    }

    to {
        opacity: 1;
    }
}

.add-basket {
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
    transition: 0.3s;
    cursor: pointer;
    border: 1px solid #ffffff;
}

.add-basket:hover,
.more-button:hover {
    transform: scale(1.1);
}

.more-button {
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 20px;
    right: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
    transition: 0.5s;
    cursor: pointer;
    border: 1px solid #ffffff;
    text-transform: uppercase;
}

/* ----------- NEWSLETTER SECTION----------- */
.newsletter {
    height: 200px;
    width: 100%;
    position: relative;
    background-color: var(--col_nine);
}

.newsletter h3 {
    font-size: 25px;
    text-align: center;
}

.newsletter-box input {
    height: 46px;
    width: 400px;
    outline: none;
    border: none;
    margin: 20px 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    font-family: var(--font_two);
    font-size: 20px;
    text-align: center;
}

.newsletter-box input::placeholder {
    font-family: var(--font_two);
    font-size: 20px;
    text-align: center;
}


@media screen and (max-width: 1150px) {
    .hero-image {
        display: none;
    }

    .home-images {
        width: 700px;
        height: 185px;
    }

    .home-txt {
        width: 600px;
    }

    .home-txt p {
        text-align: center;
    }

    .cards {
        grid-template-columns: repeat(2, 1fr);
        width: 645px;
        margin-top: 475px;
        margin-bottom: 100px;
    }

    .image-box {
        margin: 0;
        height: 66vh;
    }

    .parts-container,
    .parts-container-two {
        grid-template-columns: repeat(2, 1fr);
    }

    .parts-wrapper {
        margin: 100px auto;
    }
}

@media screen and (max-width: 800px) {

    h1,
    h2 {
        font-size: 30px;
    }

    p {
        font-size: 20px;
    }

    .home-images {
        grid-template-columns: repeat(1, 1fr);
    }

    .home-img-one,
    .home-img-three {
        display: none;
    }

    .home-txt {
        padding: 40px;
    }

    .home-txt p {
        font-size: 20px;
    }

    .home-images {
        width: 425px;
        height: 240px;
    }

    .container-mobiles {
        flex-direction: column;
    }

    .new-collection {
        height: 100%;
        min-height: 100vh;
    }

    .bg-box {
        height: 100vh;
    }

    .text-box {
        margin: 50px auto;
        text-align: center;
    }

    .newsletter h3 {
        font-size: 20px;
        width: 80%;

    }
}

@media screen and (max-width: 550px) {
    #menu-list .menu-item {
        width: 100%;
    }

    #menu-list {
        padding: 30px;
    }

    h1,
    h2 {
        font-size: 25px;
    }

    p {
        font-size: 17px;
    }

    .home-images {
        width: 365px;
        height: 215px;
    }
}