{% extends 'base.html' %}
{% load static %}
{% load my_filters %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/style.css' %}">
{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
      <div class="order-details">
          <p>Hello {{customer.name}}! Your payment has been succeeded.</p>
          <p>Your order number is {{order.order_no}} </p>
          <p>We will notify you immediately as soon as your order is shipped. If you have any questions about your order, please send a message in the "contact" section</p>
      </div>
    </div>
  </section>

{% endblock %}

{% block extra_js %}
{{ block.super }}
  <script src="{% static 'checkout/js/checkout.js' %}"></script>
{% endblock %}

<!-- 4242 4242 4242 4242 -->