{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'basket/css/style.css' %}">
{% endblock %}

{% block content %}
<section 
class="basket-section">
        <div class="empty-img">
            <img src="{% static 'images/bg.jpg' %}" alt="">
        </div>
    <div class="container">
        <div class="shopping-cart-container show-shopping-cart">
                <h2>shopping basket</h2>
                <div class="shopping-cart-box">
                    <div class="basket-container">
                        <div class="product-box" style="display: flex;">
                            <img class="product-image" alt="" src="{% static 'images/no-pictures.png' %}">
                        <div class="product-description">
                            <p class="cupcake-name">vase</p>
                            <p class="cupcake-price">£4.99</p>
                        </div>
                        <div class="product-quantity">
                            <button class="minus-btn">-</button>
                            <input class="quantity-input" id="input-id-14" type="text" value="11" readonly="true">
                            <button class="plus-btn">+</button>
                        </div>
                        <div class="total-product-price">£54.89</div>
                        <div class="delete-icon">
                            <i class="far fa-trash-alt" aria-hidden="true"></i>
                        </div>
                        </div>
                        <div class="product-box" style="display: flex;">
                            <img class="product-image" alt="" src="{% static 'images/no-pictures.png' %}">
                        <div class="product-description">
                            <p class="cupcake-name">vase</p>
                            <p class="cupcake-price">£4.99</p>
                        </div>
                        <div class="product-quantity">
                            <button class="minus-btn">-</button>
                            <input class="quantity-input" id="input-id-14" type="text" value="11" readonly="true">
                            <button class="plus-btn">+</button>
                        </div>
                        <div class="total-product-price">£54.89</div>
                        <div class="delete-icon">
                            <i class="far fa-trash-alt" aria-hidden="true"></i>
                        </div>
                        </div>
                        <div class="product-box" style="display: flex;">
                            <img class="product-image" alt="" src="{% static 'images/no-pictures.png' %}">
                        <div class="product-description">
                            <p class="cupcake-name">vase</p>
                            <p class="cupcake-price">£4.99</p>
                        </div>
                        <div class="product-quantity">
                            <button class="minus-btn">-</button>
                            <input class="quantity-input" id="input-id-14" type="text" value="11" readonly="true">
                            <button class="plus-btn">+</button>
                        </div>
                        <div class="total-product-price">£54.89</div>
                        <div class="delete-icon">
                            <i class="far fa-trash-alt" aria-hidden="true"></i>
                        </div>
                        </div>
                    </div>
                    <!-- purchase box-->
                    <div class="purchase-box">
                        <div class="summary-box">
                            <div class="summary-div">
                                <div class="summary-amount">total price</div>
                                <div class="summary-items">11 items</div>
                            </div>
                            <div id="total-price" class="summary-amount">£54.89</div>
                        </div>
                        <button class=" button button-dark purchase-button">checkout</button>
                    </div>
                </div>
            </div>
       
    </div>
</section>
{% endblock %}

{% block extra_js %}
{{ block.super }}
  <script src="{% static 'basket/js/basket.js' %}"></script>
 
{% endblock %}