{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'product/css/style.css' %}">
{% endblock %}

{% block content %}
<section class="product-section">
    <div class="container">
        {% if product_list %}
            {% for product in product_list %}
                <li>{{ product.name }}</li>
            {% endfor %}
            {% if is_paginated %}
                <div class="pagination">
                    <span class="page-links">
                        {% if page_obj.has_previous %}
                            <a href="/products?page={{ page_obj.previous_page_number }}">previous</a>
                        {% endif %}
                        <span class="page-current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>
                        {% if page_obj.has_next %}
                            <a href="/products?page={{ page_obj.next_page_number }}">next</a>
                        {% endif %}
                    </span>
                </div>
            {% endif %}
        {% else %}
            <h3>My Cars</h3>
            <p>No cars found!!! :(</p>
        {% endif %}

    </div>
   
</section>

{% endblock %}

{% block extra_js %}
 
{% endblock %}